<div class="row">
    <div class="col-md-6">
        <h2 class="node-title">
         {{conf.title}}
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src={{conf.logo.file}}>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <h6 style="margin:15px 0 0 0">
            Date: {{this.conferenceDates}}
            {{date-display conf.eventStart}} - {{date-display conf.eventEnd}}
        </h6>
        <h6>
            Location: {{conf.city}},
            {{conf.state}}, {{conf.country}}</h6>
        <div class="logo-view" align="center"></div>
        <p class="conference-description">
            Description: {{conf.description}}
        </p>
    </div>
</div>